<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.sample.member.MemberDTO" alias="content"/>
        <typeAlias type="com.sample.board.BoardDTO" alias="boardContent"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/content_mapper.xml"/>
    </mappers>
</configuration>